.menu_title{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.dropdown-menu a{
    background: #404040;
    color: #FFFFFF !important;
}

.dropdown-menu a:hover{
    background: cornflowerblue;
    color: black !important;
}

body{
    color: #FFFFFF;
}

.content h1{
    color:greenyellow !important;
}

.content h2{
    color:greenyellow !important;
}

.content h3{
    color:greenyellow !important;
}

.content h4{
    color:greenyellow !important;
}
h1{
    color:greenyellow !important;
}
h2{
    color:greenyellow !important;
}
h3{
    color:greenyellow !important;
}
h4{
    color:greenyellow !important;
}