@import "monokai.css";

.menu_title{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.dropdown-menu a{
    background: #404040;
    color: #FFFFFF !important;
}

.dropdown-menu a:hover{
    background: cornflowerblue;
    color: black !important;
}

body{
    color: #FFFFFF;
}

.accordion h1{
    color: white;
}

.content h1{
    color:greenyellow !important;
}

.content h2{
    color:greenyellow !important;
}