<header>
    <div style="margin-bottom:0;background-color: #171717; text-align: center;">
            <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
                <h1 class="display-1" style="color:greenyellow;font-size: 4vmin">user@Robert_Solca:~/{{ page.where }}$</h1>
            </a>
    </div>

    <ul class="nav justify-content-center" >
        <li class="nav-item">
          <a class="nav-link active" href="{% link about.html %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% link projects.html %}">Projects</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% link learn.html %}">Learn</a>
       </li>    
        <li class="nav-item">
                <a class="nav-link" href="{% link debate.html %}">Debate</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% link blog.html %}">Blog</a>
        </li>
      </ul>
</header>
      